@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/roboto/Roboto-Light.ttf");
}

body {
  font-family: Roboto;
  margin-top: 92px !important;
}

.remove-space {
  padding: 0 !important;
  margin: 0 !important;
}

.btn.focus,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
