.table-controls {
  font-size: 30px !important;
}

.btn-add {
  font-size: 60px;
}

.add-icon {
  color: #2a6478;
}

th {
  vertical-align: middle !important;
}

.bg-thead {
  background-color: #2a6478;
  color: #ffffff;
}

.table td,
.table th {
  vertical-align: middle !important;
}
